body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

header {
	border-bottom: 3px solid #15AABF;	
	padding-top: 5px;
	margin-bottom: 20px;
}

.justify-content-center {
	align-items: center;
	margin: 0;
}

header a {	
	text-decoration: none;
	color: #495057;
	text-align: center;
	margin-top: 10px;
	transition: opacity 0.2s;
}

header a:hover {
	text-decoration: none;
	color: #3BC9DB;
	opacity: 0.5;
}

ul {
	padding-top: 15px;
}

.row-dane {
	text-align: center;
	padding-top: 60px;
}

.row-img {
	border-radius: 50px 50px 50px 50px;
	border: 3px solid white;
	padding-top: 30px;
}

.nav-link {
	display: block;
	padding: 0 2.5rem;
	font-size: 20px;
	padding: 10px;

}

.nav {
	background: rgba(255, 255, 255, 0.8);
	padding: 20px;
}

.navbar-light .navbar-brand {
	color: #15AABF;
	font-size: 25px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #3BC9DB;
}

.fa-stethoscope {
	font-size: 50px;
	color: #15AABF;

}

.fname {
	color: #39a8b5;
	font-size: 21px;
}

a {
	color: #39a8b5;
}

.table {
	width: 100%; 
	margin: 0;
}

.row {
	margin: 0;
}


.nav .fa-plus {
	color: white;
}

.nav a:hover .fa-plus {
	display: inline-block;
	color: black;
}
.nav a:hover b {
	display: inline-block;
}

.ikona {
	font-size: 65px;
}

iframe {
	width: 100%;
	height: 500px;
}

.card-praktyka {
	height: 350px;
}

.cyan-text {
	font-size: 20px;
}

.btn-up {
	margin-right: 50px;
}

.main {
	padding-top: 160px;
}


.fa-arrow-alt-circle-up {
	font-size: 45px;
}


b {
	margin-right: 35px;
}